VITE_SUPABASE_URL=https://xjviximwszxshwietbig.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhqdml4aW13c3p4c2h3aWV0YmlnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5ODk1NTYsImV4cCI6MjA5MzU2NTU1Nn0.8fG-c4yUO2bpg_27GdloCWt5kGSvbErw6hyAXZoimLk
VITE_HCAPTCHA_SITE_KEY=bfde59b4-c8d6-431a-8b28-68caaa9e32b8
