SUPABASE_URL=https://xjviximwszxshwietbig.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhqdml4aW13c3p4c2h3aWV0YmlnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Nzk4OTU1NiwiZXhwIjoyMDkzNTY1NTU2fQ.g-pkpSMBBlBR-SNlym62XDyElTq1K8d8078rcpGYuKM
HCAPTCHA_SECRET_KEY=your-hcaptcha-secret-key
LINKVERTISE_URL=https://direct-link.net/5570781/MBDMZQXVZVIT
